// LAYOUT
.layout
  display: flex
  flex-direction: column
  min-height: 100vh
  padding: 1rem
  overflow: hidden
  overflow-y: auto
  @include mediaMinWidthTabletPort
    padding: 1.5rem

  .layout__main
    flex-grow: 1
    @include mediaMinWidthTabletPort
      padding: 1.5rem 0
  .container
    position: relative
    overflow: hidden
   
    
