<footer class="layout__footer footer">
  <div class="footer__layout">
    <!-- logo -->
    <div class="footer__logo logo">
      <a class="logo__link" href="index.html">
        <!-- partial:_logoFooter.html -->
        <!-- partial -->
      </a>
    </div>

    <!-- navigation -->
    <div class="footer__navigation navigation">
      <ul class="navigation__list">
        <li class="navigation__item">
          <a class="navigation__link" href="#">Манифест</a>
        </li>
        <li class="navigation__item">
          <a class="navigation__link" href="#">О нас</a>
        </li>
        <li class="navigation__item">
          <a class="navigation__link" href="#">Вертикали</a>
        </li>
        <li class="navigation__item">
          <a class="navigation__link" href="#">Мы в СМИ</a>
        </li>
        <li class="navigation__item">
          <a class="navigation__link" href="#">Кейсы</a>
        </li>
        <li class="navigation__item">
          <a class="navigation__link" href="#">Блог</a>
        </li>
        <li class="navigation__item">
          <a class="navigation__link" href="#">Партнёры</a>
        </li>
        <li class="navigation__item">
          <a class="navigation__link" href="#">Innovation Hub</a>
        </li>
      </ul>
    </div>

    <!-- contact -->
    <div class="footer__contact contact">
      <div class="contact__main">
        <div class="wysiwyg">
          <p>Москва, Павелецкая набережная, д.2</p>
          <p><a href="mailto:info@geniusgroup.ru">info@geniusgroup.ru</a></p>
          <p><a href="tel:+79054411558">+7 905 441-15-58</a></p>
        </div>
      </div>
      <div class="footer__socials socials">
        <div class="socials__list">
          <div class="socials__item">
            <a class="socials__link" href="#" target="_blank">
              <svg>
                <use xlink:href="img/sprite.svg#socials__ico01"></use>
              </svg>
            </a>
          </div>
          <div class="socials__item">
            <a class="socials__link" href="#" target="_blank">
              <svg>
                <use xlink:href="img/sprite.svg#socials__ico02"></use>
              </svg>
            </a>
          </div>
          <div class="socials__item">
            <a class="socials__link" href="#" target="_blank">
              <svg>
                <use xlink:href="img/sprite.svg#socials__ico03"></use>
              </svg>
            </a>
          </div>
        </div>

        <div class="socials__list socials__list_secondary">
          <div class="socials__item">
            <a class="socials__link" href="#" target="_blank">
              <svg>
                <use xlink:href="img/sprite.svg#socials__ico04"></use>
              </svg>
            </a>
          </div>
          <div class="socials__item">
            <a class="socials__link" href="#" target="_blank">
              <svg>
                <use xlink:href="img/sprite.svg#socials__ico05"></use>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>

    <!-- routs -->
    <div class="footer__routs routs">
      <ul class="routs__list">
        <li class="routs__item routs__item_secondary">
          <a class="routs__link" href="#">Политика</a>
        </li>
        <li class="routs__item">
          <a class="routs__link" href="#">Условия использования</a>
        </li>
        <li class="routs__item">
          <a class="routs__link" href="#">Сделано в Genius Production</a>
        </li>
      </ul>
    </div>

    <!-- design -->
    <div class="footer__design design">
      <a class="design__link" href="index.html">
        <!-- partial:_logoDesign.html -->
        <!-- partial -->
      </a>
    </div>
  </div>
  <div class="footer__formualt formualt">
    <div class="formualt__header">
      <div class="wysiwyg">
        <h4>Напишите нам</h4>
      </div>
    </div>
    <div class="formualt__main">
      <form class="formular__form" action="index.html">
        <div class="formular__group">
          <div class="form__field field">
            <label class="field__label">
              <input class="field__input" type="text" name="user" required />
              <span class="field__title">Напишите ваше имя</span>
            </label>
          </div>
          <!-- //form__field -->
          <div class="form__field field">
            <label class="field__label">
              <input type="tel" name="phone" class="field__input" required />
              <span class="field__title">Номер телефона</span>
            </label>
          </div>
          <!-- //form__field -->
          <div class="form__field field">
            <label class="field__label">
              <input type="text" name="email" class="field__input" required />
              <span class="field__title">Почта</span>
            </label>
          </div>
          <!-- //form__field -->
          <div class="form__field field">
            <label class="field__label">
              <textarea class="field__input" required></textarea>
              <span class="field__title">Напишите ваш Вопрос</span>
            </label>
          </div>
        </div>
        <div class="formular__group">
          <!-- //form__field -->
          <div class="form__field field">
            <button class="btn w_100" type="submit">Отправить</button>
          </div>
        </div>
        <!-- //form__field -->
      </form>
    </div>
  </div>
</footer>
<!-- //footer -->
