<header class="layout__header header">
  <div class="header__before">
    <svg>
      <use xlink:href="img/sprite.svg#beforeIco"></use>
    </svg>
  </div>
  <div class="header__after">
    <svg>
      <use xlink:href="img/sprite.svg#afterIco"></use>
    </svg>
  </div>

  <!-- logo -->
  <div class="header__logo logo">
    <a class="logo__link" href="index.html">
      <!-- partial:_logo.html -->
      <!-- partial -->
      <svg class="logo__ico logo__ico_before">
        <use xlink:href="img/sprite.svg#afterIco"></use>
      </svg>
      <svg class="logo__ico logo__ico_after">
        <use xlink:href="img/sprite.svg#beforeIco"></use>
      </svg>
    </a>
  </div>

  <!-- date -->
  <div class="header__date date">
    <span class="date__text">2024</span>
  </div>
  <!-- menu -->
  <div class="header__menu menu">
    <!-- nav -->
    <nav class="header__nav nav">
      <ul class="nav__list">
        <li class="nav__item">
          <a href="#layout__manifesto" class="nav__link">
            <svg class="nav__ico">
              <use xlink:href="img/sprite.svg#icoLeft"></use>
            </svg>
            <span class="nav__text">Манифест</span>
            <svg class="nav__ico">
              <use xlink:href="img/sprite.svg#icoRight"></use>
            </svg>
          </a>
        </li>
        <li class="nav__item">
          <a href="#layout__departments" class="nav__link">
            <svg class="nav__ico">
              <use xlink:href="img/sprite.svg#icoLeft"></use>
            </svg>
            <span class="nav__text">Направления</span>
            <svg class="nav__ico">
              <use xlink:href="img/sprite.svg#icoRight"></use>
            </svg>
          </a>
        </li>
        <li class="nav__item">
          <a href="#layout__cases" class="nav__link">
            <svg class="nav__ico">
              <use xlink:href="img/sprite.svg#icoLeft"></use>
            </svg>
            <span class="nav__text">Кейсы</span>
            <svg class="nav__ico">
              <use xlink:href="img/sprite.svg#icoRight"></use>
            </svg>
          </a>
        </li>
        <li class="nav__item">
          <a href="#layout__partners" class="nav__link">
            <svg class="nav__ico">
              <use xlink:href="img/sprite.svg#icoLeft"></use>
            </svg>
            <span class="nav__text">Ключевые партнёры</span>
            <svg class="nav__ico">
              <use xlink:href="img/sprite.svg#icoRight"></use>
            </svg>
          </a>
        </li>
        <li class="nav__item">
          <a href="#layout__services" class="nav__link">
            <svg class="nav__ico">
              <use xlink:href="img/sprite.svg#icoLeft"></use>
            </svg>
            <span class="nav__text">Innovation hub</span>
            <svg class="nav__ico">
              <use xlink:href="img/sprite.svg#icoRight"></use>
            </svg>
          </a>
        </li>
        <li class="nav__item">
          <a href="#layout__news" class="nav__link">
            <svg class="nav__ico">
              <use xlink:href="img/sprite.svg#icoLeft"></use>
            </svg>
            <span class="nav__text">Мы в СМИ</span>
            <svg class="nav__ico">
              <use xlink:href="img/sprite.svg#icoRight"></use>
            </svg>
          </a>
        </li>
        <li class="nav__item">
          <a href="#layout__blog" class="nav__link">
            <svg class="nav__ico">
              <use xlink:href="img/sprite.svg#icoLeft"></use>
            </svg>
            <span class="nav__text">Блог</span>
            <svg class="nav__ico">
              <use xlink:href="img/sprite.svg#icoRight"></use>
            </svg>
          </a>
        </li>
        <li class="nav__item">
          <a href="#layout__footer" class="nav__link">
            <svg class="nav__ico">
              <use xlink:href="img/sprite.svg#icoLeft"></use>
            </svg>
            <span class="nav__text">Контакты</span>
            <svg class="nav__ico">
              <use xlink:href="img/sprite.svg#icoRight"></use>
            </svg>
          </a>
        </li>
      </ul>
    </nav>
  </div>

  <!-- burger -->
  <div class="header__burger burger">
    <span class="burger__item"></span>
    <span class="burger__item"></span>
  </div>

  <!-- slogan -->
  <div class="header__slogan slogan">
    <div class="slogan__title">
      <svg class="slogan__ico">
        <use xlink:href="img/sprite.svg#icoLeft"></use>
      </svg>
      <span class="slogan__text h1">Опережая перемены</span>
      <svg class="slogan__ico">
        <use xlink:href="img/sprite.svg#icoRight"></use>
      </svg>
    </div>
    <div class="slogan__subtitle">
      <span class="slogan__text"
        >Создаём новые рекламные технологии.<br />
        Помогаем брендам расти и не просто адаптироваться<br />
        к изменениям рынка, но и обгонять их</span
      >
    </div>
  </div>
</header>
<!-- //header -->
