// SERVICES
.layout__services
  display: grid
  grid-template-columns: 1fr
  grid-gap: 2rem
  @include mediaMinWidthTabletPort
    grid-gap: 3rem
  .services__list
    display: grid
    grid-template-columns: 1fr
    grid-gap: 2rem
    justify-content: start
    @include mediaMinWidthMobile
      grid-template-columns: repeat(2,1fr)
    @include mediaMinWidthTabletPort
      grid-template-columns: repeat(2,25rem)
      grid-gap: 0 7.5rem
    &:nth-child(even)
      @include mediaMinWidthTabletPort
        justify-content: end
  .services__link
    color: $colorPrimary300
    border-radius: .5rem
    padding: 1rem
    display: grid
    grid-gap: 1rem
    grid-template-columns: 1fr
    position: relative
    &:before
      content: ""
      position: absolute
      top: 50%
      left: 50%
      width: 24rem
      height: 9.75rem
      z-index: -1
      background: url(../img/content/services/services__bg.png) 50% 50% no-repeat
      background-size: contain
      @include transform
  .services__media
    width: auto
    height: 3rem
    display: flex
    align-items: flex-start
  .services__main
    color: colorPrimary300
    font-size: .75rem
    line-height: 1rem
    min-height: 2rem
    grid-column: span 2
    -webkit-line-clamp: 2
    @include mediaMinWidthTabletPort
      font-size: .875rem
      line-height: 1rem
